<% provide(:title, 'Discussion Feed') %>

<div class="row">
    <%= render @discussion.book %>
    <br><br>
    <section class="user_info">
      <h3>
        <%= gravatar_for @discussion.user %>
        <%= link_to @discussion.user.username, @discussion.user %>
      </h3>
    </section>
    <div class="discussions">
        <p><span class="content"><%= @discussion.content %></span></p>
        <span class="timestamp">
            Posted <%= time_ago_in_words(@discussion.created_at) %> ago.
            <% if is_current_user?(@discussion.user) %>
              <%= link_to "delete", @discussion, method: :delete, data: {confirm: "Would you like to delete this post?"} %>
            <% end %>
        </span>
    </div>
    
</div>
<br><br>
<p><%= link_to 'Return to Discussions list', discussions_path, class: "btn btn-lg btn-primary", id: "log" %></p>