<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
    <% if is_current_user?(@user) %>
      <section class="discussion_form">
        <%= render "discussions/form" %>
    </section>
    <% end %>
    
  </aside>
  <div class="col-md-8">
    <h3><%= pluralize(@user.discussions.count, 'discussion') %></h3>
    <% if @user.discussions.any? %>
      
      <ol class="discussions">
        
          <%= render @discussions %>
        
      </ol>
      <%= will_paginate @discussions %>
    <% end %>
  </div>
</div>
